* {
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 5vmin;
}

.tile {
    width: 20vmin;
    height: 20vmin;
    border: white 0.4vmin solid;
    font-size: 15vmin;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    text-shadow: black 0.4vmin 0.4vmin;
}

.tile:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.tile:active {
    transform: scale(0.98);
}

.flex {
    display: flex;
}

.space-between {
    display: flex;
    justify-content: space-between;
    width: 60vmin;
}

#topLeft {
    border-top: none;
    border-left: none;
}

#topMiddle {
    border-top: none;
}

#topRight {
    border-top: none;
    border-right: none;
}

#middleLeft {
    border-left: none;
}

#middleRight {
    border-right: none;
}

#bottomLeft {
    border-bottom: none;
    border-left: none;
}

#bottomMiddle {
    border-bottom: none;
}

#bottomRight {
    border-bottom: none;
    border-right: none;
}

.column {
    display: flex;
    flex-direction: column;
}

input {
    color: oldlace;
    border: none;
    background-color: #282c34;
    box-shadow: white 0 0 0.5vmin 0.00001vmin, inset black 0 0 1vmin 0.3vmin;
    padding: 0.8vmin 2vmin;
    font-weight: 600;
    margin: 0.5vmin;
    border-radius: 1vmin;
    cursor: pointer;
}

input:hover {
    transform: scale(1.02);
}

input:active {
    transform: scale(0.98);
}

p {
    text-shadow: black 0.3vmin 0.25vmin;
}